<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
     
        <add name="ConductorSync.Properties.Settings.BZConnectionString"
            connectionString="Data Source=.;Initial Catalog=BZ;Persist Security Info=True;User ID=dbuser;Password=dbuser"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ConductorSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://77.36.163.148/core/Conductor.asmx"
                binding="basicHttpBinding" bindingConfiguration="ConductorSoap"
                contract="SchedulesService.ConductorSoap" name="ConductorSoap" />
        </client>
    </system.serviceModel>
</configuration>
