<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConductorSync.Properties.Settings.kondok3ConnectionString" connectionString="Data Source=192.168.10.34;Initial Catalog=kondok3;User ID=8668;Password=09112064568" providerName="System.Data.SqlClient"/>
        <!--<add name="ConductorSync.Properties.Settings.Bazaar_DataBaseConnectionString" connectionString="Data Source=192.168.10.47;Initial Catalog=Bazaar_DataBase;Persist Security Info=True;User ID=8668;Password=09112064568" providerName="System.Data.SqlClient"/>-->
      <add name="ConductorSync.Properties.Settings.Bazaar_DataBaseConnectionString"
          connectionString="Data Source=TNOTE\MSSQLSERVER2012;Initial Catalog=Bazaar_DataBase;Persist Security Info=True;User ID=dbuser;Password=dbuser"
          providerName="System.Data.SqlClient" />

      
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ConductorSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/core/Conductor.asmx" binding="basicHttpBinding"
                bindingConfiguration="ConductorSoap" contract="SchedulesService.ConductorSoap"
                name="ConductorSoap" />
        </client>
    </system.serviceModel>
</configuration>
